input.form-control(type='text', value='', placeholder='Username', ng-model='name', required='required')
input.form-control(type='password', value='', placeholder='Password', ng-model='password', required='required')
input.form-control(type='password', value='', placeholder='Confirm Password', ng-model='confirm', required='required')
button.btn.btn-primary.btn-lg.btn-block(ng-click='add(name, password, confirm)') Add