.iconbar.full-vertical-nav.no-scrollbar-wrapper(ng-if="$state.includes('repo')")
  ul
    li
      a.fui-new(ui-sref="repo.posts")
    li
      a.fui-photo(ui-sref="repo.photos")
    li
      a.fui-video(ui-sref="repo.videos")
    li
      a.fui-clip(ui-sref="repo.attachments")
    li
      a.fui-calendar(ui-sref="repo.calendar")
    li
      a.fui-gear.settings(ng-click="settings()")

script(id="template/modal/window.html", type="text/ng-template").
  <div tabindex="-1" class="modal fade {{ windowClass }}" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
      <div class="modal-dialog"><div class="modal-content" ng-transclude></div></div>
  </div>

script(id="template/modal/backdrop.html", type="text/ng-template").
  <div class="modal-backdrop fade"
       ng-class="{in: animate}"
       ng-style="{'z-index': 1040 + (index && 1 || 0) + index*10}"
  ></div>