.post-header
  input.filename.form-control.input-hg.flat(type='text', placeholder="{{time | date:'yyyy-MM-dd'}}-post-name.md")
  
div(codemirror="{theme: 'prose-bright', mode: 'markdown', lineNumbers: true}" ng-model="content")