table.table.table-striped
  tbody(style="white-space: nowrap")
    tr
      th(colspan=2, style="white-space: nowrap") {{currentUser.login}}
    tr
      td(style="white-space: nowrap") Login:
      td
        input(type="text", value="{{currentUser.login}}", style="width: 100%;")
    tr
      td(colspan=2, style="text-align:right;")
        button.btn.btn-primary Save

table.table.table-striped
  tbody(style="white-space: nowrap")
    tr
      th(colspan=2, style="white-space: nowrap") Change Password
    tr
      td(style="white-space: nowrap") Old Password:
      td
        input(type="password", style="width: 100%;")
    tr
      td(style="white-space: nowrap") New Password:
      td
        input(type="password", style="width: 100%;")
    tr
      td(style="white-space: nowrap") Confirm New Password:
      td
        input(type="password", style="width: 100%;")
    tr
      td(colspan=2, style="text-align:right;")
        button.btn.btn-primary Submit

