.modal-content
  .modal-header
    button.close.fui-cross(type='button', ng-click="cancel()")
    h4.modal-title {{repo.name}} settings
  .modal-body
    input.form-control(type='text', value='', placeholder='Flickr Key', ng-model='flickr', required='required')
    input.form-control(type='text', value='', placeholder='Vimeo Key', ng-model='vimeo', required='required')
    input.form-control(type='text', value='', placeholder='S3 Key', ng-model='s3', required='required')
  .modal-footer
    button.btn(ng-click="save()") Save
    button.btn(ng-click="cancel()") Cancel